<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
   <!-- Display error message if it exists -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="error-messages">
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <li>{{ message | e }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- Login form -->
    <form action="{{ url_for('login') }}" method="post">
        <!-- Email input field -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <!-- Password input field -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <!-- OTP input field -->
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" placeholder="Enter OTP"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
