<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <header>
        <h1>Secure Intelligence Storage</h1>
        <h2>Notifications</h2>
        <nav class="nav1">
            <a href="{{ url_for('notifications') }}">
                <img src="{{ url_for('static', filename='notification_icon.png') }}" alt="Notifications" class="icon">
            </a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
        
        <nav class="nav2">
        <a href="{{ url_for('dynamic_homepage') }}">Homepage</a>
        <a href="{{ url_for('upload_file') }}">Upload Files</a>
        <a href="{{ url_for('files') }}">View Files</a>
        <a href="{{ url_for('share') }}">Share Files</a>
        <a href="{{ url_for('received_files') }}">Received Files</a>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="error-messages">
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% for notification in notifications %}
        <div class="notification-container">
            <div class="notification-content">
                <p>Sender: {{ notification.sender }}</p>
                <p>Recipient: {{ notification.recipient_email }}</p>
                <p>File: {{ notification.filename }}</p>
                <div class="button-container">
                    <form action="{{ url_for('allow_access', notification_id=notification._id) }}" method="post">
                        <input class="btn" type="submit" value="Allow">
                    </form>
                    <form action="{{ url_for('deny_access', notification_id=notification._id) }}" method="post">
                        <input class="btn" type="submit" value="Deny">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</body>
</html>
