<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set File Password</title>
</head>
<body>
    <h1>Set File Password</h1>
    <!-- Section to display any flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <!-- List of messages -->
            <ul>
            {% for message in messages %}
                <li>{{ message | e }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- Form for setting the file password -->
    <form action="{{ url_for('set_file_password') }}" method="post">
        <!-- Input field for entering the file password -->
        <label for="file_password">File Password:</label>
        <input type="password" id="file_password" name="file_password" required><br>
        <input type="submit" value="Set Password">
    </form>
</body>
</html>
