<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set File Password</title>
</head>
<body>
    <h1>Set File Password</h1>
   <!-- Display error message if it exists -->
   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
       <ul class="error-messages">
           {% for category, message in messages %}
               {% if category == 'error' %}
                   <li>{{ message | e }}</li>
               {% endif %}
           {% endfor %}
       </ul>
   {% endif %}
{% endwith %}
    <script>
        function validateFilePassword() {
            let filePassword = document.getElementById("file_password").value;
            let fileMessage = document.getElementById("filePasswordMessage");
            let strongPasswordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        
            if (!strongPasswordPattern.test(filePassword)) {
                fileMessage.innerHTML = "File password must be strong!";
                fileMessage.style.color = "red";
                return false;
            } else {
                fileMessage.innerHTML = "Strong file password!";
                fileMessage.style.color = "green";
                return true;
            }
        }
        </script>
    <!-- Form for setting the file password -->
    <form action="{{ url_for('set_file_password') }}" method="post">
        <!-- Input field for entering the file password -->
        <label for="file_password">File Password:</label>
        <input type="password" id="file_password" name="file_password" required><br>
        <input type="submit" value="Set Password">
    </form>
</body>
</html>
