<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Secure Intelligence Storage</h1>
        <h2>User Homepage</h2>
        <nav class="nav1">
            <a href="{{ url_for('notifications') }}">
                <img src="{{ url_for('static', filename='notification_icon.png') }}" alt="Notifications" class="icon">
            </a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    <div class="btn-container">
        <a href="{{ url_for('enable_mfa') }}" class="btn">Enable MFA</a>
        <a href="{{ url_for('upload_file') }}" class="btn">Upload</a>
        <a href="{{ url_for('files') }}" class="btn">View</a>
        <a href="{{ url_for('share') }}" class="btn">Share</a>
        <a href="{{ url_for('received_files') }}" class="btn">Received Files</a>
    </div>
</body>
</html>
